.elevator {
  width: auto;
  margin: 20px 0px 97px;

  @media screen and (max-width: 1366px) {
    margin-bottom: 62px;
  }

  @media screen and (max-width: 1366px) {
    margin-bottom: 54px;
  }

  @media screen and (max-width: 768px) {
    margin: 0px 0px 34px;
  }
}

.elevator-form {
  display: flex;
}

.elevator-item__button {
  padding: 0;
  margin: 0;
  width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  outline: 1px solid var(--border-color-button);
  border: 0;
  background: var(--background-color);
  cursor: pointer;

  &:hover {
    background: var(--background-color-buttonHover);
  }

  h1 {
    align-self: center;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-color);
  }

  &_number {
    &.active {
      background: var(--background-color-buttonActive);

      h1 {
        color: var(--text-color-buttonActive);
      }
    }
  }

  &_start,
  &_end,
  &_back,
  &_next {
    &.notActive {
      outline-color: var(--border-color-buttonNotActive);

      &:hover {
        background: var(--background-color);
      }
    }
  }

  &_start {
    border-radius: 7px 0px 0px 7px;
  }

  &_end {
    border-radius: 0px 7px 7px 0px;
  }
}

.elevator-item__img {
  width: 14px;
  height: 13px;
  align-self: center;
}
