.filterDate-action {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  &.active {
    height: 130px;
  }
}

.filterDate-form {
    display: flex;
    width: 222px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}